* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  font-weight: normal;
  font-size: 100%;
}

body {
  min-width: 850px;
  font-family: 'Open Sans', Arial, sans-serif;
}

.header {
  height: 100vh;
  text-align: center;
  background-color: #eee;
  background-image: url(cover.png);
  background-position: center;
  background-size: cover;
}

.header-title {
  margin: auto;
  color: white;
  font-weight: 800;
  font-size: 74px;
  text-transform: uppercase;
}

.overlay {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgb(95 13 238 / 0.5);
}

.content {
  width: 770px;
  margin: 100px auto 50px;
  font-size: 0;
}

.card {
  display: inline-block;
  width: 360px;
  margin-right: 50px;
  margin-bottom: 50px;
  border: 1px solid black;
  padding: 25px 25px 30px;
  box-shadow: 4px 4px 0 black;
}

.no-right-margin {
  margin-right: 0;
}

.card-title {
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 31px;
  text-align: center;
  text-transform: uppercase;
}

.card-text {
  font-size: 18px;
}

.card-image {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid black;
}

.footer {
  display: flex;
  height: 200px;
  background-color: #5f0dee;
}

.footer-author {
  margin: auto;
  color: white;
  font-weight: 800;
  font-size: 25px;
}
